b-input-switch {
    font-family: var(--b-font-family);
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

b-input-switch label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

b-input-switch label > slot {
    display: block;
    font-size: 16px;
    padding-top: 14px;
    margin-left: 56px;
    line-height: 1.6em;
}

b-input-switch--icon {
    position: relative;
    width: 56px;
    height: 56px;
    color: #fff;
    float: left;
}

b-input-switch--icon::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    margin-left: -16px;
    width: 32px;
    height: 16px;
    border-radius: 8px;
    background-color: #000000;
    opacity: 0.38;
    box-sizing: border-box;
    transition: background-color 0.2s;
}

b-input-switch--icon::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #FAFAFA;
    box-shadow: var(--b-shadow-1);
    transition: background-color 0.2s, margin 0.2s;
}

b-input-switch input {
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

b-input-switch input:checked ~ b-input-switch--icon::before {
    background-color: var(--b-primary-color);
    opacity: 0.5;
}

b-input-switch input:checked ~ b-input-switch--icon::after {
    background-color: var(--b-primary-color);
    margin-left: 0;
}