:root {
    /* Colors */
    --b-primary-color: #1E88E5;
    --b-accent-color: #00C853;
    --b-lightGrey-color: #757575;
    --b-focus-color: #FDD835;
    --b-danger-color: #F44336;

    /* Font */
    --b-font: Roboto, Tahoma, sans-serif;
}