@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:host {
    font-family: var(--b-font-family);
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

b-input-checkbox__content {
    display: block;
    font-size: 16px;
    padding-top: 14px;
    margin-left: 56px;
    line-height: 1.6em;
}

b-input-checkbox__icon {
    position: relative;
    width: 56px;
    height: 56px;
    color: #333;
    float: left;
}

b-icon {
    --size: 24px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: 50%;
    left: 50%;
    margin-top: calc(-1 * var(--size) / 2);
    margin-left: calc(-1 * var(--size) / 2);
    fill: currentColor;
}

b-input-checkbox__icon[checked] {
    display: none;
    color: var(--b-primary-color);
}

input {
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

input:checked ~ b-input-checkbox__icon[checked] {
    display: block;
}

input:checked ~ b-input-checkbox__icon[unchecked] {
    display: none;
}