b-input-checkbox {
    font-family: var(--b-font-family);
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

b-input-checkbox label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

b-input-checkbox label > slot {
    display: block;
    font-size: 16px;
    padding-top: 14px;
    margin-left: 56px;
    line-height: 1.6em;
}

b-input-checkbox--icon {
    position: relative;
    width: 56px;
    height: 56px;
    color: #fff;
    float: left;
}

b-input-checkbox--icon::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
    transition: border-color 0.2s, background-color 0.2s;
}

b-input-checkbox--icon::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #2196F3;
    opacity: 0;
}

b-input-checkbox--icon > svg {
    --size: 18px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: 50%;
    left: 50%;
    margin-top: calc(-1 * var(--size) / 2);
    margin-left: calc(-1 * var(--size) / 2);
    fill: currentColor;
}

b-input-checkbox input {
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

b-input-checkbox input:checked ~ b-input-checkbox--icon::before {
    border-color: #2196F3;
    background-color: #2196F3;
}


.checkbox_clicked input:checked:not([disabled]) ~ b-input-checkbox--icon::after {
    animation: check 0.4s;
}