html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#example {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    text-align: center;
    padding-bottom: 100px;
}