:root {
    /* Colors */
    --b-primary-color: #1E88E5;
    --b-accent-color: #00C853;
    --b-lightGrey-color: #757575;
    --b-focus-color: #F9A825;
    --b-danger-color: #F44336;

    /* Font */
    --b-font-family: Roboto, Tahoma, sans-serif;
    --b-font-display-4: normal 300 114px var(--b-font-family);
    --b-font-display-3: normal 400 56px var(--b-font-family);
    --b-font-display-2: normal 400 45px var(--b-font-family);
    --b-font-display-1: normal 400 34px var(--b-font-family);
    --b-font-headline: normal 400 24px var(--b-font-family);
    --b-font-title: normal 500 20px var(--b-font-family);
    --b-font-subheading: normal 400 16px var(--b-font-family);
    --b-font-body-2: normal 500 14px var(--b-font-family);
    --b-font-body-1: normal 400 14px var(--b-font-family);
    --b-font-caption: normal 400 12px var(--b-font-family);

    /* Shadows */
    --b-shadow-1: 0 1px 4px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
    --b-shadow-2: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
    --b-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --b-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --b-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* Typography */

body {
    font-family: var(--b-font-family);
}

h1 {
    font: var(--b-font-display-4);
}

h2 {
    font: var(--b-font-display-3);
}

h3 {
    font: var(--b-font-display-2);
}

h4 {
    font: var(--b-font-display-1);
}

h5 {
    font: var(--b-font-headline);
}

h6 {
    font: var(--b-font-title);
}

a {
    color: var(--b-primary-color);
}

caption {
    font: var(--b-font-caption);
}