:host {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-height: 72px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: ${fonts.roboto};
    text-align: left;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: Roboto, Tahoma, sans-serif;
    font-size: 16px;
    outline: none;
    background: none;
    display: block;
    border: none;
    position: relative;
    z-index: 2;
    resize: none;
    padding: 8px 0;
    transition: background-color 0.2s;
}

label {
    transform: translate3d(0, 26px, 0);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38);
    transition: font-size 0.2s, transform 0.2s, color 0.2s;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 4px;
}

border {
    height: 2px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    transition: border-color 0.2s;
}

input:focus ~ label {
    font-size: 12px;
    transform: translate3d(0, 0, 0);
    color: ${colors.primary};
}

input:focus ~ border {
    border-bottom: 2px solid ${colors.primary};
}

:host([value]) label {
    font-size: 12px;
    transform: translate3d(0, 0, 0);
    color: rgba(0, 0, 0, 0.54);
}